<!DOCTYPE HTML>
<html>
	<head>
		<title>Stanislav Peshkur Card</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>
							<span class="avatar"><img class="avatar_image" src="static/images/avatar.jpg" alt=""/></span>
							<h1>Stan peshkur</h1>
							<p>Software Developer in Test</p>
						</header>
				
						<footer>
							<ul class="icons">
								<li><a href="https://www.instagram.com/stas_peshkur/" class="fa-instagram">Instagram</a></li>
								<li><a href="https://www.facebook.com/antikillaa" class="fa-facebook">Facebook</a></li>
							</ul>
						</footer>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy;2022 Stanislav Peshkur</li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<!--[if lte IE 8]><script src="static/assets/js/respond.min.js"></script><![endif]-->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>